[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
numpy = "<=2.1.3"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
